/************************ Footer Css *************************/


/*Clients CSS*/

.client-section {
    .client-list {
        // display: grid;
        // flex-wrap: nowrap;
        // width: 100%;
        // margin: 0;
        // gap: 15px;
        // grid-template-columns: repeat(8, 1fr);
        li {
            // background-color: $white;
            padding: 15px;
            border-radius: 10px;
            border: 1px solid darken($white, 5%);
            list-style: none;
            @extend .flexDiv;
            justify-content: center;
            align-items: center;
            height: 111px;
            width: 111px !important;
            border-radius: 111px;
            position: relative;
            margin: auto;
            margin: 0px 20px;
            margin-bottom: 40px;
            span {
                position: absolute;
                bottom: 0;
                top: 100%;
                text-align: center;
                font-weight: 500;
                padding-top: 4px;
                font-size: 12px;
            }
            img {
                width: 100%;
                display: block;
                height: auto;
            }
        }
        @media #{$large-mobile} {
            padding: 0;
            grid-template-columns: repeat(3, 1fr);
            gap: 3px;
        }
    }
    .client-right-div {
        height: 416px;
        width: 356px;
        margin-top: 60px;
        position: relative;
        z-index: 1;
        .client-right-image {
            height: 100%;
            width: 100%;
            border-radius: 8px;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .client-right-icon {
            width: 54px;
            height: 54px;
            border-radius: 50%;
            box-shadow: 0px 0px 1px 1px #0000001a;
            // background: linear-gradient(24deg, #65328c 40%, $primary 100%);
            background: $primary;
            animation: pulse-animation 2s infinite;
            content: '';
            position: absolute;
            bottom: -22px;
            right: -22px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            color: #fff;
        }
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: -60px;
            right: -60px;
            background: linear-gradient(24deg, #65328c 40%, $primary 100%);
            // background: #65328c;
            border-radius: 10px;
            z-index: -1;
        }
    }
}

.slick-track{
    direction: revert !important;
}