/*----------------------------------------*/
/*  Scroll To Top CSS
/*----------------------------------------*/
#scrolltop {
  display: block;
  background-color: $secondary;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  &:after {
    content: "\f077";
    width: 100%;
    height: 100%;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    // line-height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $white;
  }
  &:hover {
    cursor: pointer;
    background-color: #333;
  }
  &:active {
    background-color: #555;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
