.merchant {
    .card-img {
      padding: 4px;
      padding-bottom: 0px;
        img {
            object-fit: contain;
        }
    }
    .card-cont{
      display: none;
    }
}

.merchant-card-wrap {
    // border: 1px solid $primary;
    // border-radius: 4px;
    .card-img {
        border: 1px solid #ccc;
        padding: 2px;
        img{
          object-fit: contain;
        }
    }
    .card-cont {
      h4{
        display: block !important ;
      }
        p {
            font-size: 12px;
            line-height: 12px !important;
            margin-bottom: 0;
            i {
                font-size: 10px;
                margin-right: 6px;
            }
        }
    }
}

.rating{
  span{
    i{
      font-size: 12px;
      color: $rating;
    }
  }
}